:root {
--Strong-cyan: hsl(172, 67%, 45%);
--Very-dark-cyan: hsl(183, 100%, 15%);
--Dark-grayish-cyan-1: hsl(186, 14%, 43%);
--Dark-grayish-cyan-2: hsl(184, 14%, 56%);
--Light-grayish-cyan-1: hsl(185, 41%, 84%);
--Light-grayish-cyan-2: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);
}

* {margin: 0; padding: 0; list-style: none; line-height: 1; font-weight: normal;} 

body {
    background: var(--Light-grayish-cyan-1);
}

section {
    background: var(--White);
    width: 100%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 20px;
}

section p{
    font-size: 1.2em;
    color: var(--Dark-grayish-cyan-1);
    margin: 0.7rem 0;
}

section .grid {
    display: inline-grid;
    grid-template-columns: 10rem 10rem;
    gap: .5rem;
}

section .grid .tip {
    background: var(--Strong-cyan);
    color: var(--White);
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
}

section .grid .tip:hover {
    background: var(--Dark-grayish-cyan-1);
    color: var(--Strong-cyan);
}

section .card {
    background: var(--Very-dark-cyan);
    color: var(--White);
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    margin-top: 1rem;
}

section .card button {
    width: 100%;
    margin: .5rem 0;
    padding: .5rem;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
}

section .card button:hover {
    background: var(--Dark-grayish-cyan-1);
    color: var(--Strong-cyan);
}





.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }